
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --headingTextColor: #f8bb62
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--primaryColor);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: #212226;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.clear:after,
.clear:before {
  content: "";
  display: table;
  clear: both;
}

/* ======================================== 
                Navbar
======================================== */
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  min-height: 12vh;
  padding: 0px 100px;
  min-width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

header .navigation .logo{
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {
  header .navigation .logo img{
    width: 150px;
  }
}
header .navigation .menu-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  margin: auto 20px auto 0;
}

header .navigation .humbarger {
  margin-right: 20px;
  display: none;
 }
 
header .navigation .humbarger .bar{
  width: 30px;
  height: 2px;
  margin: 7px;
  background: #b1d4e0;
 }

header .navigation .menu-list li a {
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 1s ease, border 1s ease;
  text-decoration: none;
}

/* ====================
  Intro Section
=======================*/
.intro-section {
  height: 80vh;
  position: relative;
  background-image: url(/images/regular_candidate.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}

.intro-section .intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 30px;
}
.intro-section .intro-content h1{
  color: var(--headingTextColor);
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  text-align: center;
}
.intro-section .intro-content p{
  max-width: 500px;
  color: white;
  text-align: center;
}
.btn_style{
  background-color: #50aea0;
  border: none;
  outline: none;
  color: white;
  font-size: 24px;
  padding: 10px 15px;
  font-family: 'Roboto Slab', serif;
}
.icon_circle{
  position: absolute;
  bottom: -3%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #81807f;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon_circle img{
  width: 40px;
}

/* ====================
  Responsive Section
=======================*/

/* Tablet desktop :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .navigation{
    padding: 0px 50px;
  }
  header .navigation .menu-list {
    width: 60%;
  }
  header .navigation .menu-list li a{
    font-size: 1rem;
  }

}

/* Large Mobile :480px. */

@media only screen and (max-width: 1024px) {
  header .navigation{
    padding: 0px 10px;
  }
  .intro-section .intro-content{
    top: 30px;
  }
  header .navigation .menu-list {
    position: absolute;
    top: 12vh;
    min-width: 95%;
    background: #9a4138;
    text-align: center;
    display: none;
    border-radius: 0px 0px 10px 10px;
    left: 10px;
  }
  .navigation ul{
    padding: 0px;
  }
  header .navigation .menu-list li {
    display: block;
  }
  header .navigation .menu-list li a {
    display: block;
    padding: 20px;
    transition: color 1s ease, padding 1s ease, background-color 1s ease;

  }
  header .navigation .menu-list li a:hover{
    color: #b1d4e0;
    padding-left: 30px;
    background: rgba(177, 212, 224, 0.2);
  }
  .intro-section .intro-content h1{
    font-size: 32px;
  }
  .intro-section .intro-content p{
    width: 600px;
  }
  header .navigation .humbarger{
    display: block;
  }
  .icon_circle {
    position: absolute;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #81807f;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .icon_circle img{
    width: 25px;
  }
  .btn_style{
    margin-bottom: 20px;
    font-size: 18px;
  }
}

@media screen and (max-width : 768px) {
  .intro-section .intro-content p{
    width: 450px;
  }
}

@media screen and (max-width : 576px) {
  .intro-section .intro-content p{
    width: 310px;
  }
}

/* ====================
  Secnd Section Start
=======================*/
.second_section_bg{
  background-color: #ea6d61;
  padding: 100px 0px;
}
.second_section h2{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 50px;
  color: white;
}
.second_section p{
  color: white;
}

@media screen and (max-width : 768px) {
  .second_section h2{
    font-size: 36px;
    margin: 28px 0px 10px;
  }
}

/* ====================
  Third Section Start
=======================*/
.third_section_bg{
  background-color: #502652;
  padding: 100px 0px;
}
.third_section{
  color: #fff;
  text-align: center;
}
.third_section img{
  min-height: 165px;
  margin-bottom: 20px;
}
.third_section h3{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.third_section p{
  font-size: 14px;
  max-width: 180px;
  margin: 0 auto;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width : 768px) {
  .third_section{
    margin-bottom: 50px;
  }
  .third_section img{
    min-height: 140px;
  }
}

/* ====================
  Forth Section Start
=======================*/
.forth_section_bg{
  background-color: #50aea0;
  padding: 100px 0px;
}

/* ====================
  Footer Section Start
=======================*/
.footer_section_bg{
  background-color: #464646;
  padding: 50px 0px;
}
.footer_text_align{
  display: flex;
  align-items: center;
}
.social_icon{
  display: flex;
  justify-content: flex-end;
}
.social_icon .img-size{
  margin-right: 28px;
}
.footer_text{
  color: white;
}
.from_ctrl{
  width: 100%;
  padding: 20px 10px;
  border: none;
  outline: none;
  margin-bottom: 34px;
}
.from_ctrl_text_area{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}
.btn_submit{
  background-color: #502652;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 40px;
  font-family: 'Roboto Slab', serif;
}
form::placeholder{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .footer_text_align{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .btn_submit{
    font-size: 18px;
  }
  .social_icon{
    display: flex;
    justify-content: center;
  }
  .social_icon .img-size{
    margin: 0px 10px;
  }
  .social_icon .img-size img{
    width: 36px;
    margin: 0 auto;
  }
}